* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
body {
    height: 100vh;
    width: 100%; 
}
html{
    scroll-behavior: smooth;
}

.container header h1 {
    text-align: center;
    margin-top: 20px;
}
/*
.container header h2 {
    right:20px;
    margin-top: 10px;
    width: 70%;
    float: left
}
  */
.container header > i {
    color: black;  
    position: relative; 
    float: right;
    margin-bottom: 15px;
}
header i:hover {
    color: gold;
    transition: 0.3s;
}
/*
header::after {
    display: table;
    content: ' ';
    clear: both;
}
*/
.container ul {
    list-style-type: none;
    margin-top: 30px;
    background-color: black;
    position: relative;
    z-index: 1;
    width: 100%;
}
.container ul a{
    text-decoration: none; 
    color: aliceblue; 
}
.container ul li{
    text-align: center;
   padding: 20px;
    font-size: 18px;
   
    line-height: auto;
    font-size: 18px;
    
}
.container  ul  a:hover {
    color: blueviolet;
    
    font-size: larger;
}
/* Education */
#education {
    margin: 10px 0 0 5px;
}
.edu {
    margin-bottom: 10px;
}
/* home */
.home img{
    position: relative;
    width: 100%;
    min-height: 90vh;
    background-size: cover;
    object-fit: cover;
}
/* my skills */
.myskills {
    margin: 10px 0 0 5px;
  
}
/* projects */
#my_projects a{
    display: block;
   margin: 0 0 0 30px ;
   padding: 10px 5px 5px 0;
    text-decoration: none;
    color: blueviolet;    
}
#my_projects h2 {
    margin-top: 20px;
    width: 40%;
    margin-left: 10px;
}

#my_projects a:hover{
    font-size: larger;
    color: black;
}
/* social media */

#Social_Media {
    color: ghostwhite;
   background-color: black;
   font-size: 16px;
   padding: 10px;
   min-height: 200px;
   width: 100%;
   line-height: 50px;
   font-size: smaller;
   margin-top: 30px;
   float: left;
   text-align: center;
}
#Social_Media h3 a{
    text-decoration: none;
    color: ghostwhite;
    padding-right: 10px;
}

#Social_Media h3 a i{
    color: gainsboro;
}
#Social_Media h3 a:hover {
    color: blueviolet;
    font-size: larger;
}


/* responsive web page */


