@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.3s linear;
    font-family: 'Open Sans', sans-serif;
}
:root{
    --primary: #6222CC;
    --secondary: #FBA504;
    --light: #F6F4F9;
    --dark: #04000B;

}
html{
    font-size: 60%;
    scroll-behavior: smooth;
}
section{
    padding: 9rem 6%;
}
.btn{
    display: inline-block;
    padding: 0.6rem 2.5rem;
    font-size: 1.2rem;
    border: 0.1rem solid var(--secondary);
    outline: 0;
    background: var(--secondary);
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    color: var(--dark);
}
.btn:hover{
    background: none;
    color: var(--secondary);
}
section{
    padding: 4rem 6%;
}   
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1.2rem 0;  
    background: var(--light); 
    position: fixed;
    width: 100%;
    z-index: 1001;
}
.header .logo{
    font-size: 3rem;
    color: var(--primary);
    font-weight: bolder;
}

.header .navbar a{
    font-size: 1.7rem;
    color: var(--dark); 
    margin: 0 0.5rem; 
    padding: 0 0.5rem;
}
.header .navbar .active{
    color: var(--secondary);
}
.header .navbar a:hover{
    color: var(--secondary);
}
.header .bars i{
    font-size: 2.8rem;
    color: var(--dark);
    cursor: pointer;
   display: none;

}
.home{
    background: var(--primary);
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
.home .content-home{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.home .content-home .images img{
    width: 100%;
    object-fit: cover;
}
.home .content-home .box{
    width: 60%;
}
.home .content-home .box h1{
    color: var(--light);
    font-size: 5.2rem;
}
.home .content-home .box p{
    color: var(--light);
    font-size: 2rem;
    padding: 2rem 0;
}
.dev .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    gap: 1.5rem;
    text-align: center;
}

.dev .row .box{
    background: var(--light);
    padding: 2rem;
    border-radius: 2rem;
}
.dev .row .box:hover{
    box-shadow: 0rem 0.2rem 0.8rem rgba(145, 145, 145, 0.7);
    background: var(--min-color);
}
.dev .row .box i{
    color: var(--primary);
    font-size: 3.2rem;
}
.dev .row .box h1{
    color: var(--font);
    font-size: 2.5rem;
    padding: 1.7rem 0;
}
.dev .row .box p{
    color: var(--font);
    font-size: 1.5rem;
    padding: 0 1.8rem;
    line-height: 1.5;
}
.about .row{
    display: flex;

    justify-content: space-between;
    align-items: center;
    
}
.about .content{
  width: 80%;
    text-align: left;
}
.about .content h4{
    color: var(--secondary);
    font-size: 2.2rem;
    padding: 1rem;
}
.about .content h1{
    color: var(--dark);
    font-size: 3.2rem;
    padding: 1rem;
}
.about .content p{
    color: var(--dark);
    font-size: 1.8rem;
    padding: 1rem;
}
.about .content .cheaks{
    display: flex;
    flex-direction: column;
}
.about .content .cheaks i{
    color: var(--secondary);
    font-size: 1.7rem;
    padding: 1rem;
}
.about .content .cheaks i span{
    color: var(--dark);
    font-size: 1.5rem;
    
}
.about image{
    width: 40%;
    
}
.about image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.achive{
    margin: 8rem 0;
}
.achive .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: var(--primary);
    text-align: center;
    width: 100% ;
}
.achive .row .content{
    padding: 5rem 0;
}
.achive .row .content i{
    color: var(--secondary);
    font-size: 4.2rem;
    
}
.achive .row .content h2{
    color: var(--light);
    font-size: 3.7rem;
    padding: 1rem;
}
.achive .row .content h4{
    color: var(--light);
    font-size: 1.7rem;
    
}
.services .heading{
    text-align: center;
    padding: 5rem 0;
}
.services .heading h2{
    color: var(--secondary);
    font-size: 3.2rem;
}
.services .heading h4{
    color: var(--dark);
    font-size: 4.2rem;
}
.services .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    gap: 1.5rem;
    text-align: center;
}
.services .row .box{
    padding: 2.8rem 3rem;
    background: var(--light);
    border-radius: 1rem; 
}
.services .row .box:hover{
    box-shadow: 0 5px 8px rgba(145, 145, 145, 0.7);
    
}
.services .row .box i{
    color: var(--light);
    font-size: 4rem;
    background: var(--primary);
    padding: 1.3rem;
    border-radius: 1rem;
}
.services .row .box:hover i{
    background: var(--secondary);
    color: var(--dark);
}
.services .row .box h2{
    color: var(--dark);
    font-size: 2.2rem;
    padding: 1.7rem;
}
.services .row .box p{
    color: rgb(51, 51, 51);
    font-size: 1.8rem;
    padding: 0 1.5rem;
}
.news{
    background: var(--primary);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 9rem 0;
    padding: 5rem 0;
}
.news .heading h2{
    font-size: 2.5rem;
    color: var(--light);
    padding: 1rem;
}
.news .heading h4{
    font-size: 3.8rem;
    color: var(--light);
}
.news .heading p{
    font-size: 2.2rem;
    color: var(--light);
    padding:2.5rem;
}
.news .heading form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.news .heading input{
    font-size: 1.7rem;
    color: var(--dark);
    padding: 1rem 2.5rem;
    width: 50%;
    height: 3.1rem;
}
.news .heading label{
    background: var(--secondary);
    color: var(--light);
    font-size: 3.1rem;
    padding: 1rem 2.5rem;
    cursor: pointer;
}
.news .heading label:hover{
    background: var(--light);
    color: var(--secondary);
}
.project .heading{  
    margin: 5rem auto;
    text-align: center;
}
.project .heading h2{
    font-size: 2.5rem;
    color: var(--secondary);
    padding: 1rem;
}
.project .heading h4{
    font-size: 3.8rem;
    color: var(--dark);
} 
.project .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30%,1fr));
    gap: 1.5rem;
    text-align: left;

}
.project .row .image img{
    width: 100%;
}
.project .row .image{
    position: relative;
    cursor: pointer;
}
.project .row .image span{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2.2rem;
    color: var(--light);
    transform: translate(-50%,-50%);
    display: none;
}
.project .row .image:hover span{
    display: inline-block;
}

.project .row .image::before{
    content: "";
    position: absolute;
    background: var(--primary);
    width: 100%;
    height: 100%;
    opacity: 0;
    
}
.project .row .image:hover::before{
    opacity: 0.5;
}
.project .row .box .content{
    background: var(--light);
    padding: 2rem 3rem;
}
.project .row .box .content h5{
    color: var(--primary);
    font-size: 2.2rem;
    padding: 0.4rem 1rem;
}
.project .row .box .content p{
    color: #222;
    font-size: 1.8rem;
    padding: 1rem;
}
.team .heading{  
    margin: 5rem auto;
    text-align: center;
}
.team .heading h2{
    font-size: 2.5rem;
    color: var(--secondary);
    padding: 1rem;
}
.team .heading h4{
    font-size: 3.8rem;
    color: var(--dark);
} 
.team .row{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20%,1fr));
    gap: 1.5rem;
    text-align: center;
}
.team .row .box{
    padding: 6rem 4rem;
    background: var(--light);
    border-radius: 2rem;
    box-shadow: 0rem 0.5rem 1rem rgba(145, 145, 145, 0.7);
}

.team .row .image img{
    border-radius: 50%;
    width: 100%;
    object-fit: cover;

}
.team .row .box .content{
    padding: 3.5rem;
}

.team .row .box .content h2{
    font-size: 1.8rem;
    color: var(--dark);
}  
.team .row .box .content h4{
    font-size: 1.8rem;
    color: rgb(151, 151, 151);
    padding: .8rem;
}
.team .row .box .social{
    border-top: 0.1rem solid #333;
    padding: 2rem 0;
}
.team .row .box .social i{
    font-size: 2.5rem;
    color: var(--primary);
    padding: 1rem;
    cursor: pointer;
}
.footer{
    background-color: var(--primary); 
    background-image: url(../img/map.png);
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(20%,1fr));
    gap: 2rem;
    text-align: center;
    padding: 4rem;
    margin-top: 6rem;
}
.footer h3{
    
    font-size: 3rem;
    margin: 2rem 0;
    color: var(--secondary);
}
.footer p{
    font-size: 1.8rem;
    margin: 1rem 0;
    color: var(--light);
}
.footer i{
    font-size: 2.8rem;
    margin: 1rem 0.5rem;
    color: var(--secondary);
}
.footer i:hover,
.footer a:hover{
    color: var(--secondary);
}
.footer a{
    display: block;
    font-size: 1.8rem;
    margin: 0.5rem;
    color: var(--light);
}
.footer input{
    background: none;
    border: 0.1rem solid var(--light);
    padding: .8rem ;
    color: var(--light);
    font-size: 1.5rem;
}
.footer label{
    background: var(--secondary);
    font-size: 1.5rem;
    color: var(--light);
    padding: 0.8rem;
   cursor: pointer;
}






























/* media query  */

@media(max-width:850px){
    html{
        font-size: 50%; 
    }
    .header .btn{
        display: none;
    }
    .header .bars i{
        display: block;    
    }
    .header .navbar{
        position: fixed;
        /* */ bottom: 10000rem; left: 0rem;
        text-align: center;
        background: var(--primary);
        width: 100%;
        z-index: 1001;
    }
    .header .navbar.active{
        bottom: 72%;
    }
    .header .navbar a{
        display: block;
        margin: 0.3rem 0;
        padding: 1rem;
        font-size: 2.6rem;
        color: var(--light);
    }
    .header .navbar a:hover{
        background: var(--light);
    }
    .home .content-home,
    .about .row,
    .achive .row,
    .news{
        flex-flow: column;
    } 
    .dev .row,
    .services .row,
    .project .row,
    .team .row{
        grid-template-columns: repeat(auto-fit,minmax(80%,1fr));
    }
    .footer{
        grid-template-columns: repeat(auto-fit,minmax(40%,1fr));
    }
}